@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");


body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  margin: 0;
}

h1,
h2 {
  font-family: "Lora";
}

header h1{
    font-size: 80px;
    color: black;
}

header a{
    color: black;
    text-decoration: none;
}

header nav{
    color: rgb(121, 121, 121);
    font-size: 2rem;
}

nav{
    font-family: "Lora";
  
  }


ul {
    border-top: 1px solid #bbbbbb;
  list-style: none;
  border-bottom: 1px solid #bbbbbb;
} 

li{
    display: inline-block;
    color: rgb(121, 121, 121);
    margin: 1.5rem;
    
}

/* links */
a{
    color: rgb(121, 121, 121);
}

/* nav links */


/* header */

header{
    text-align: center;
}

nav {
 
  text-align: right;
}



nav li {
  padding: 0.5rem;
}

/* main */
main {
  width: 90%;
  margin: 2rem auto;
}

/* article cards */
article {
  background-color: white;
 
  margin: 0 auto 2rem;
  text-align: center;
}

article a{
    text-align: center;
}

.post-date {
  color: rgb(0, 0, 0);
  margin: 1rem auto -1rem;
  text-align: left;
  border-right: 1px solid #000000;
}

.post-content {
  margin: 0 auto;
}

article figure {
  margin: 0 auto;
  text-align: center;
}

article img {
  width: 25%;
  margin: 0 auto;
}



/* smaller (screen)s */
@media (screen) and (max-width: 640px) {
  

  header {
    display: block;
    margin: 0;
    padding: 1rem 2rem;
  }

  article {
    padding: 2rem;
  }

  ul {
    
    list-style: none;
  }
  
  li{
     text-align: center
  }

  article img{
    width: 50%;
  }
  
}

