<div class="top-controls">
  <% if (user) { %>
    <span>Welcome, <%= user.username %>!</span>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login" class="login-link">Sign In</a>
    <a href="/signup" class="login-link">Sign Up</a>
  <% } %>
  <button class="add-contact-btn">+ Add Recipe</button>
</div>

<article>
  <h1>Recipes</h1>
</article>

<div id="contacts"></div>

<!-- Contact Form Modal -->
<div id="contactModal" class="modal hidden">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Add New Recipe</h2>
    <form id="contactForm">
      <input type="text" name="firstName" placeholder="Chef Name" required />
      <input type="text" name="lastName" placeholder="Instructions" required />
      <input type="text" name="email" placeholder="Baking Time" required />
      <input type="text" name="favoriteColor" placeholder="Ingredients" required />
      <input type="text" name="birthday" placeholder="Country of Origin" required />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>