
header{
    
    background-color: rgba(20,30,13, .7);
    color: white;
    
}

.logo_link{
    padding-top: 5px;
}

.Soclink{
    background-color: rgba(20,30,13, .7);
    color: #d9c2a3;
    text-decoration: none;
    margin-top: 200px;
    padding: 25px 50px;
     padding-top: 15px;
}

.home-title{
    font-family: 'Caveat', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: red;
}

.Joinus{
    background-color: rgba(20,30,13, .7);
    color:White;
    text-align: center;
    margin-top: 200px;
    padding: 25px 50px;
     padding-top: 15px;
    
}

.join{
    color: black;
    text-decoration: none;
    background-color: #d9c2a3;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.hero-msg{
    text-align: center;
}

.camping-card{
    text-align: center;
    margin: 200px 0;
}

.rivers-card{
    text-align: center;
    margin: 200px 0;
}

.rapids-card{
    text-align: center;
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

.msg{
    
    color:White;
    background-color: #6f7364;
  line-height: 1.5em;
  font-size: .8em;
  padding: 35px;
/*Everything but color */    
    
}

body {
    background-color: #fcfbfb; 
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}  

.joinSoc{
    text-decoration: none;
    color: #d9c2a3;

}

.Ugly{
    background-color: #d9c2a3;
}

.hero-img{
    max-width: 100%;
    text-align: center;
}

.book{
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #d9c2a3;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.icon {
    width: 80px;
    padding-top: 10px;
}