.parent{
    color: aqua;
}

.child-one{
position: absolute;

top: 10px;

font-size: 25px;

}

.child-two{
    position: absolute;

    top: 40px;
}

.child-three{
    position: absolute;

top: 60px;

left: 200px;

}

.c4{

    position: absolute;

    top: 80px;
    
    left: 350px;

}

.c5{
    position: absolute;

    top: 120px;
    
    left: 300px; 
}

.c6{
    position: absolute;

    top: 140px;
    
    left: 370px; 
}

.c7{
    position: absolute;

    top: 160px;
    
    left: 380px; 
}

.c8{
    position: absolute;

    top: 200px;
    
    left: 650px; 
}

.c9{
    position: absolute;

    top: 225px;
    
    left: 690px; 
}

.d1{
    position: absolute;

    top: 250px;
    
    left: 870px; 
}

.d2{
    position: absolute;

    top: 300px;
    
    left: 590px; 
}

.d3{
    position: absolute;

    top: 325px;
    
    left: 475px; 
}

.d4{
    position: absolute;

    top: 350px;
    
    left: 400px; 
}

.d5{
    position: absolute;

    top: 375px;
    
    left: 400px; 
}