body{
    margin: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: .5rem;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: white;
   transition: 0.5s;
}


#menu {
    display: block;
    font-size: 2rem;
    font-weight:700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-image: linear-gradient(180deg, #C61212, #3E1270);
    color: white;
    border-radius: 1rem;
  }
  
  #menu::before {
    content: "≡";
  }
  
  nav {
    background-image: linear-gradient(180deg, #C61212, #3E1270);
    margin: 1rem;
    color: white;
    border-radius: 1rem;
  }
  .navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
  }
  
  .navigation li {
    display: none;
  }
  .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
  }
  
  .navigation a:hover, navigation a:active {
    color: black;
    background-image: linear-gradient(35deg, #fbff00, #ff0000);
    border-radius: 1rem;
    
  }
  
  .show li {
    display: block;
  }
  
  #menu.show::before {
    content: "X";
  }


  .sideText{
    color:white;
    
    margin: 1.5rem;
    
    background-image: linear-gradient(12deg, #3E1270, #C61212);
    border-radius: 1rem;
    padding: 1rem;

  }

  .sidebar{
    display: flex;
    margin: 5rem;
  }




img{
  border-radius: 3rem;
  
  
}



.shadow img {
  transition: .5s ease;
  }
  
  .shadow img:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #373737,
  6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
  }


.header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, #3E1270, #C61212);
    color: black;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    
}


.footer {
    background-image: linear-gradient(360deg, #3E1270, #C61212);
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    
    margin: 2rem;
}



.last-update {
    color: #eeff00;
}





/*New Stuff*/
/* Custom CSS Properties */
:root {
    /* Project colors */
    --primary-color: #00113e;
    --secondary-color: #fcfaa2;
    --tertiary-color: #edeefd;
    --default-color: #eef0f4;
    --optional-color: #d68c45;
    --optional2-color: #3cff00;
    --calnder-text-color: #1d1d1d;
    --bg-color: #f1f1fb;

    --np-membership: #125B50;
    --bronze-membership: #CD5C08;
    --silver-membership: #EEEEEE;
    --gold-membership: #FFB000;

    --primary-shade-1: #152246;
    --secondary-shade-1: #F3C462;
    --tertiary-shade-1: #C5C8F4;
    --default-shade-1: #D2D7E0;

    --primary-shade-2: #212D4D;
    --secondary-shade-2: #EDCD8A;
    --tertiary-shade-2: #A5A9E8;
    --default-shade-2: #BAC0CD;

    --glass-effect-bg: rgba(186, 192, 205, 0.55);
    --blur-effect: blur(2.5rem);
    --box-shadow-effect: 8px 8px 8px -6px rgba(0, 0, 0, 0.18);
    --box-shadow-all-4sides: 0 0 2rem rgba(0, 0, 0, 0.18);
    --box-shadow-all-4sides-cleaner: 0 0 2rem -5px rgba(0, 0, 0, 0.18);

    --default-gap: 2em;
    --default-gap: 1em;

    --input-border: #8b8a8b;
    /* change the values below to your chosen font(s) */
    --heading-font: "IBM Plex Sans Condensed", sans-serif;
    --paragraph-font: "Poppins", sans-serif;

    /* Fluid typography */
    --step--2: clamp(0.63rem, calc(0.72rem + -0.11vw), 0.69rem);
    --step--1: clamp(0.83rem, calc(0.83rem + 0.02vw), 0.84rem);
    --step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    --step-1: clamp(1.2rem, calc(1.1rem + 0.52vw), 1.5rem);
    --step-2: clamp(1.44rem, calc(1.25rem + 0.97vw), 2rem);
    --step-3: clamp(1.73rem, calc(1.4rem + 1.63vw), 2.66rem);
    --step-4: clamp(2.07rem, calc(1.56rem + 2.57vw), 3.55rem);
    --step-5: clamp(2.49rem, calc(1.71rem + 3.91vw), 4.74rem);
}

/* Basic resets */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* base settings */
html {
    font-size: 50%;
    box-sizing: border-box;
}

body {
   
    font-size: 1.8rem;
    font-weight: 400;
    color: #282828;
    line-height: 1.5;

}

/* Header section */
:where(.header-box, .header-intro) {
    display: grid;
}

h1 {
    font-family: var(--heading-font);
    color: white;
    
}




/* ----------------------------------------------------- */
/* ---------------------- JOIN PAGE SECTION --------------- */
/* ----------------------------------------------------- */

.join-page-body section,
.thankyou-page-body {
    background-color: #eef0f4;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d68c45' fill-opacity='0.33' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}

.join-page-body section {
    padding: 3em 2em;
}

.join-page-body .join-cta-text {
    font-family: var(--paragraph-font);
    font-style: italic;
    background-color: #fff;
    border-radius: 5px;
    padding: 1em 1.5em;
}

.form-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    box-shadow: var(--box-shadow-all-4sides-cleaner);
}

.form-container .svg-box {
    width: 70%;
}

.form-container .svg-box img {
    width: 100%;
    height: 80%;
}

.form-container form {
    /* background: var(--secondary-color); */
    background-image: linear-gradient(180deg, #C61212, #3E1270);
    backdrop-filter: var(--blur-effect);
    width: 100%;
    padding-inline: 1em;
    padding-block-start: .75em;
    padding-block-end: 1.5em;
    border-radius: .5rem;
    color: white;

    display: grid;
}

.form-container form label.top {
    display: block;
    margin-block-start: 2.5rem;
}

.form-container form div,
.side-by-side {
    display: block;
}

.form-container form div {
    margin-block-start: 2.5rem;
    /* margin-block-end: .5rem; */
}

.side-by-side {
    padding-block-start: 1rem;
    display: flex;
    align-items: center;
    gap: 3px;
}

.form-container input[type="radio"] {
    width: 2rem;
    height: 2rem;
}


.asterisk {
    color: var(--optional2-color);
}

.form-container form input:not([type="radio"]) {
    width: 100%;
    max-width: 35rem;
    height: 4.4rem;
}

.form-container form label.top input:required {
    outline: 1px solid var(--optional2-color);
}

.form-container form label.top input:required:valid {
    outline-color: lime;
}

.form-container textarea {
    resize: vertical;
    width: 100%;
    max-width: 35rem;
}

.form-container form input:not([type="radio"]),
.form-container form textarea {
    display: block;
    color: #555;
    font-size: max(1.8rem, 1em);
    padding: 0.25em 0.5em;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

.form-container form input:not(textarea) {
    line-height: 1;
}

.form-container form input:focus:not([type="radio"]),
.form-container form textarea:focus {
    border-color: var(--tertiary-color);
    box-shadow: 0 0 0 3px hsla(245, 100%, calc(42% + 40%), 0.8);
    outline: 3px solid transparent;
    transition: 180ms box-shadow ease-in-out;
}

.form-container form input[type="submit"] {
    border: none;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 1rem;
    padding-block: .75rem;
    padding-inline: 1.5rem;
    box-shadow: var(--box-shadow-effect);

}

.benefits-box div {
    /* background-color: #fff; */
    width: 80%;
    padding-block: 1.5em;
    padding-inline: 1.5em;
    border-radius: 1rem;
    margin: 0 auto;
}

.benefits-box h2 {
    font-size: 2rem;
    font-family: var(--heading-font);
    text-align: center;
    margin-block-end: 1rem;
}

.benefits-box ul {
    list-style: none;
    margin-inline-start: 1.5rem;
}

.benefits-box ul ::marker {
    content: "✓ ";
}

.thankyou-page-body section p {
    font-size: 2rem;
    background-color: #fff;
    padding: 1em 0.75em;
}








@media only screen and (min-width: 37.5em) {

   

    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .services-section {
        display: grid;
        place-items: center;
        row-gap: 10rem;
        padding-block: 5em 10em;
    }

    .service-card-box {
        width: 85%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--default-gap);
    }

    .card svg {
        width: 5rem;
        height: 5rem;
    }

 
   

    /* JOIN SECTION */
    .form-container .svg-box {
        width: 45%;
    }

    .form-box form {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-box form .benefits-box {
        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .form-box form .benefits-box div {
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

 
}

@media only screen and (min-width: 40em) {
    .navigation {
      display: flex;
    }
    .navigation li {
      display: block; /* change state in small view */
      flex: 1 1 100%;
    }
    .navigation a {
      text-align: center;
    }
    #menu {
      display: none;
    }
  }



  /* Directory Stuff*/



.top-page-banner {
 
  color:rgb(0, 0, 0);

}

.banner-content {
 color: rgb(255, 217, 0);
}

.bannerBtn {
  color: white;
 }
  


