
<% title = 'Home' %>

<script>
  const params = new URLSearchParams(window.location.search);
  if (params.get('success')) {
    alert('Successfully logged in!');
  }
</script>


<article>
  <h1>Recipes</h1>
</article>

<div id="contacts"></div>

<!-- Modal -->
<div id="contactModal" class="modal hidden">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2>Add New Contact</h2>
    <form id="contactForm">
      <input type="text" name="firstName" placeholder="Chef Name" required />
      <input type="text" name="lastName" placeholder="Instructions" required />
      <input type="text" name="email" placeholder="Baking Time" required />
      <input type="text" name="favoriteColor" placeholder="Ingredients" required />
      <input type="text" name="birthday" placeholder="Country of Origin" required />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<script>
  fetch('/api/contacts')
    .then(res => res.json())
    .then(data => {
      const container = document.getElementById('contacts');
      data.forEach(c => {
        const div = document.createElement('div');
        div.className = 'contact';
        div.innerHTML = `
          - Creator: ${c.firstName} - Instructions: ${c.lastName} - Baking time: ${c.email} - Ingredients: ${c.favoriteColor} - Country Of Origin: ${c.birthday}
          <button class="edit-btn">Edit</button>
          <button class="delete-btn">Delete</button>
        `;
        container.appendChild(div);
      });
    })
    .catch(err => {
      document.getElementById('contacts').textContent = 'Failed to load contacts.';
    });
</script>
