/* 
@media only screen and (min-width:60em) {
    main,header,footer {
        grid-template-columns: 1fr 1fr 1fr;
        width:900px; 
    }

    .three {
        grid-column: span 1;
    }

    body {
        margin: 0;
        height: 100%;
        width: 100%;
    }
} */

/*large*/
@media(min-width: 860px){

    #card1{
        grid-row: 1;
        grid-column: 1/2;
    }
    
    #card2{
        grid-row: 1;
        grid-column: 2/3;
    }
    
    #card3{
        grid-row: 1;
        grid-column: 3/4;
    }

    #card5{
        grid-row: 1;
        grid-column: 1/2;
    }
    
    #card6{
        grid-row: 1;
        grid-column: 2/3;
    }

}

@media (min-width: 60em) {

  
    #mode {
      flex: 4;
    }
  
  
    }