@media(min-width: 600px){

    .card-container{
        /*grids*/
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
   
    }



    #card1{
        grid-column: 1/2;
    }
    
    #card2{
        grid-column: 2/3;
    }
    
    #card3{
        grid-row: 2;
        grid-column: 1/3;
    }


     .sideBar{
    display: grid;
    /* grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem; */
    grid-template-columns: 1fr 1fr ; 
    
    }

    .item-1{
        grid-row: 1/2;
        grid-column: 1/2;
        
        }
    
        .item-2{
          grid-row: 2/3;
          grid-column: 1/2;
          
          
          }
    
        .item-3{
          grid-row: 3/4;
          grid-column: 1/2;
         
        }
    
        .item-4{
          grid-row: 4/4;
          grid-column: 1/2;
         
        }
    
        .item-5{
          grid-row: 2/3;
          grid-column: 2/3;
         
        }
    
        .item-6{
          grid-row: 3/4;
          grid-column: 2/3;
          
        } 
    
}

